.metadata
.metadata/
.metadata/*
.android-support-v7-appcompat
.android-support-v7-appcompat/
.android-support-v7-appcompat/*
.Dr_Digital_files
.Dr_Digital_files/
.Dr_Digital_files/*
.KhoiSangLibary
.KhoiSangLibary/
.KhoiSangLibary/*
*.class
*.db
*.zip
*.properties
*.rar
*.DS_Store
